.container {
  display: flex;
  flex-direction: column;
}

.submit_btn {
  margin-top: 1rem;
  background-color: var(--primary-color);
  border-width: 0;
  line-height: 1.5rem;
  color: white;
  border-radius: 15px;
}
