.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  max-height: 20rem;
  overflow-y: auto;
}

.container__messages {
  flex: 1;
  overflow-y: auto;
}

.container__form__input {
  border-width: 0.13rem;
}

.container__messages__msg {
  padding: 0.2rem;
}

.container__messages__msg_dark {
  background-color: #f8f8f8;
}
