.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  max-height: 20rem;
  overflow-y: auto;
}

.container__messages {
  flex: 1;
  overflow-y: auto;
}

.container__form__input {
  border-width: 0.1rem;
  border-radius: 0.3rem;
  line-height: 2em;
  width: 100%;
}

.container__messages__msg {
  padding: 0.2rem;
}

.form_input_button {
  display: flex;
}

.send_msg_btn {
  background-color: white;
  border-width: 0.1rem;
  border-radius: 0.3rem;
  margin-left: 1rem;
}

.container__messages__msg_dark {
  background-color: #f8f8f8;
}
