#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 400px;
  max-width: 900px;
  min-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}

.container__chat {
  border-radius: 15px;
  padding: 1rem;
  background-color: white;
  width: 80%;
}

.config_btn {
  margin-top: 3rem;
  background-color: inherit;
  border-width: 0;
}
